
.page-header{
    text-align: center;
    font-size: 65%;
    background-image: url("../images/header5.png");
    color: orange;
    background-size: 10%;
    background-repeat: no-repeat;
    letter-spacing: 3px;
}

h1 {
    font-size: 5.5rem;
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    margin-top: 2%;
}
.second-header{
    display: inline-flex;
}
.definition-noun{
    margin-right: 33%;
}
.definition-noun, .definition{
    font-family: 'Open Sans', sans-serif;
    color: orange;
    text-align: center;
    font-weight: 100;
}

.nav-tabs, #v-pills-tab, .nav-link:not(.active) {
    background: rgba(255, 178, 85, 0.3);
    color: white;
    display: inline-block;
}

.nav-tabs {
    width: 90px;
}

.nav-link{
    border: 5px solid white;

}

.image{
    width: 300px;
    height: 200px;
}

.btn-outline-warning{
    border-radius: 85px;
    width: 95px;
    height: 95px;
    line-height: 3.33;
}

.btn-outline-danger{
    border-radius:35px;
    width: 35px;
    height: 35px;
    background: url("../images/heart-sm.png");
    background-size: 100%;
    animation: glowing 1500ms infinite;
}

@-webkit-keyframes glowing {
    0% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
    50% { background-color: #FF0000; -webkit-box-shadow: 0 0 40px #FF0000; }
    100% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
  }

button {
    margin: 1%;
    box-shadow: 4px 5px rgb(134, 114, 94, .2);
    float: right;
}

.intro, .end-intro {
    text-align: center;
    color: orange;
    font-family: 'Satisfy', cursive;
    margin: 2%;
    animation: fadein 5s;
}
@-webkit-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.main-carousel {
    margin-left: 1%;
    margin-top: 5%;
}

.carousel-item {
    width: 1000px;
    height: 563px;
}

.card-title, .card-text{
    font-family: 'Playfair Display', serif;
    
}

h5 {
    font-weight: 800;
}

.card-deck {
    margin: 5%;
}

.card{
    box-shadow: 2px 5px rgb(134, 114, 94, .2);
}

/*pop up box*/
.vl{
    border-right: 1px solid grey;
    height: 100px;
}

.shopping-list, .favorite-list {
    font-family: 'Satisfy', cursive;
    color: orange;
    font-weight: 100;
    font-size: 50px;
    text-align: center;
}

.shopping-container {
        margin-top: 2%;
        background: rgba(212, 150, 73, 0.3);
        text-shadow: 0 0 20px rgb(148, 133, 133);
        padding: 2%;
        font-size: 35px;
        max-width: 60%;
        height: 600px;
        margin-left: 20%;
        color: white;
        position: relative;
}

#map-appear-here {
    height: 500px;
    background: rgba(138, 119, 97, 0.3);
}

.footer {
    padding: 10px;
    background-color: orange;
    color: white;
    text-align: center;
    border-top: 4px solid orange;
    margin-top: 10%;
    position: relative;
    height: 50px;
}

/* MEDIA QUERIES */
